.navbar {
    padding: 0.25rem 0.5rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--col-surface);
    width: 100%;
    border-bottom: var(--line-3) solid var(--col-surface2);
    z-index: 10000;
    .container {
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        img {
            max-height: 1.5rem;
        }
    }
    @media (max-width: 576px) {
        .container {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            img {
                max-height: 1.5rem;
            }
        }
    }
}
.navbar-header {
    font-size: 1.5rem;
}
.side-nav {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
    background-color: var(--col-surface);
    border-right: var(--line-3) solid var(--col-surface2);
    border-bottom: var(--line-3) solid var(--col-surface2);
    border-bottom-right-radius: 0.25rem;
    ul {
        padding-left: 0;
        list-style: none;
        margin-top: 3rem;
        // padding-top: ;
        li {
            display: list-item;
            list-style: none;
            border-bottom: var(--line-3) solid var(--col-surface2);
            padding: 0.5rem 0 0.25rem 1rem;
            &:last-child {
                border-bottom: var(--line-3) solid transparent;
            }
            &:hover {
                background-color: var(--col-surface2);
            }
        }
    }
}
@media (min-width: 1400px) {
    .side-nav {
        border-left: var(--line-3) solid var(--col-surface2);
        border-bottom-left-radius: 0.25rem;
    }
  }
  @media (max-width: 767.98px) {
    .side-nav {
        visibility: hidden;
        max-width: 0%;
    }
  }