$sizes: (
   0: 0,
   1: calc(1rem * 0.25),
   2: calc(1rem * 0.5),
   3: 1rem,
   4: calc(1rem * 1.5),
   5: calc(1rem * 3),
);
@each $size, $value in $sizes {
    .gap-#{$size} {
        gap: $value;
    }
}
@each $size, $value in $sizes {
   .m-#{$size} {
      margin: $value;
   }
   .my-#{$size} {
      margin-top: $value;
      margin-bottom: $value;
   }
   .mx-#{$size} {
      margin-left: $value;
      margin-right: $value;
   }
   .mt-#{$size} {
      margin-top: $value;
   }
   .me-#{$size} {
      margin-right: $value;
   }
   .mb-#{$size} {
      margin-bottom: $value;
   }
   .ms-#{$size} {
      margin-left: $value;
   }

   .p-#{$size} {
      padding: $value;
   }
   .py-#{$size} {
      padding-top: $value;
      padding-bottom: $value;
   }
   .px-#{$size} {
      padding-left: $value;
      padding-right: $value;
   }
   .pt-#{$size} {
      padding-top: $value;
   }
   .pe-#{$size} {
      padding-right: $value;
   }
   .pb-#{$size} {
      padding-bottom: $value;
   }
   .ps-#{$size} {
      padding-left: $value;
   }
}
.m-auto {
   margin: auto;
}