// css/_type.scss
h1 {
   font-size: 2em;
}
h2 {
   font-size: 1.5em;
}
h3 {
   font-size: 1.17em;
}
h4 {
   font-size: 1em;
}
h5 {
   font-size: 0.83em;
}
h6 {
   font-size: 0.67em;
}
p {
   font-size: 1em;
}
$align: (
   "left": "left",
   "right": "right",
   "center": "center",
   "justify": "justify",
);
$weights: (
   "light": 300,
   "regular": 400,
   "medium": 500,
   "bold": 700,
   "black": 900,
);
@each $alignment, $value in $align {
   .text-align-#{$alignment} {
      text-align: #{$alignment};
   }
}
@each $weight, $value in $weights {
   .fw-#{$weight} {
      font-weight: $value;
   }
}
a {
    text-decoration: none;
    color: var(--col-on-surface);
    &:hover {
        color: var(--col-p-200);
    }
}
