:root {
   --ff: sans-serif;

   --line-2: 0.125rem;
   --line-3: 0.2rem;
   --line-4: 1.25rem;

   --col-bg: #1a1b26;
   --col-surface: #24283b;
   --col-surface2: #414868;
   --col-surface3: #565f89;

   --col-p-200: #7dcfff;
   --col-p-500: #7aa2f7;
   --col-p-700: #bb9af7;

   --col-s-200: #b4f9f8;
   --col-s-500: #73daca;
   --col-s-700: #9ece6a;

   --col-on-surface: #c0caf5;
   --col-on-primary: #1a1b26;
   --col-on-secondary: #1a1b26;

   --col-success: #2aa39a;
   --col-danger: #ec4561;
   --col-warning: #f8b425;
   --col-info: #38a5f8;
}
body {
   background-color: var(--col-bg);
   font-family: var(--ff);
   color: var(--col-on-surface);
}
::-webkit-scrollbar {
   scrollbar-width: 0px;
}

@import "reset", "buttons", "nav", "container", "spacing", "breakpoints", "border", "flex", "cards", "type";
